<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%def name="online_help_token()"><% return "courseinfo" %></%def>
<%namespace name='static' file='../static_content.html'/>
<%!
from babel.dates import format_timedelta
from datetime import datetime
from pytz import utc

from django.utils.translation import ugettext as _

from courseware.courses import get_course_info_section, get_course_date_summary
from openedx.core.djangoapps.self_paced.models import SelfPacedConfiguration
from openedx.core.djangolib.markup import HTML, Text
from student.models import CourseEnrollment
from course_modes.models import CourseMode
from lms.djangoapps.verify_student.models import VerificationDeadline, SoftwareSecurePhotoVerification
%>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

% if show_enroll_banner:
<div class="wrapper-msg urgency-low" id="failed-verification-banner">
  <div class="msg msg-reverify is-dismissable">
    <div class="msg-content">
      <h2 class="title">${_("You are not enrolled yet")}</h2>
      <div class="copy">
        <p class='enroll-message'>
          ${Text(_("You are not currently enrolled in this course. {link_start}Sign up now!{link_end}")).format(
                link_start=HTML("<a href={}>").format(url_to_enroll),
                link_end=HTML("</a>")
          )}
        </p>
      </div>
    </div>
  </div>
</div>
% endif

<%include file="/courseware/course_navigation.html" args="active_page='info'" />

<%static:require_module_async module_name="js/courseware/toggle_element_visibility" class_name="ToggleElementVisibility">
        ToggleElementVisibility();
</%static:require_module_async>
<%static:require_module_async module_name="js/courseware/course_home_events" class_name="CourseHomeEvents">
        CourseHomeEvents();
</%static:require_module_async>

<%block name="js_extra">
  ## CourseTalk widget js script
  % if show_coursetalk_widget:
      <script src="//d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/coursetalk-write-reviews.js"></script>
  % endif
</%block>

<%block name="bodyclass">view-in-course view-course-info ${course.css_class or ''}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
      <div class="home">
        <div class="page-header-main">
            <h1 class="page-title">${_("Welcome to {org}'s {course_name}!").format(org=course.display_org_with_default, course_name=course.display_number_with_default)}</h1>
            <h2 class="page-subtitle">${course.display_name_with_default}</h2>
        </div>
        % if last_accessed_courseware_url:
          <div class="page-header-secondary">
              <a href="${last_accessed_courseware_url}" class="last-accessed-link">${_("Resume Course")}</a>
          </div>
        % endif
      </div>
      <div class="info-wrapper">
        % if user.is_authenticated():
        <section class="updates">
          % if studio_url is not None and masquerade and masquerade.role == 'staff':
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">
              ${_("View Updates in Studio")}
            </a>
          </div>
          % endif

          <h1>${_("Course Updates and News")}</h1>
          ${HTML(get_course_info_section(request, masquerade_user, course, 'updates'))}

          ## CourseTalk widget
          % if show_coursetalk_widget:
          <div class="coursetalk-write-reviews">
            <div id="ct-custom-read-review-widget" data-provider="${platform_key}" data-course="${course_review_key}"></div>
          </div>
          % endif
        </section>
        <section aria-label="${_('Handout Navigation')}" class="handouts">
##           % if SelfPacedConfiguration.current().enable_course_home_improvements:
            <h1 class="handouts-header">${_("Important Course Dates")}</h1>
                ## Course Start Date
                % if course.start is not None and datetime.now(utc) <= course.start:
                    <div class="date-summary date-summary-start-date">
                    <h3 class="heading">${_("Course Starts")}</h3>
                    <h4 class="date localized-datetime" data-format="shortDate" data-datetime="${course.start}" data-timezone="${user_timezone}" data-language="${user_language}"></h4>
                    </div>
                % endif

                ## Course End Date
                % if course.end <= datetime.now(utc):
                    <div class="date-summary date-summary-end-date">
                        <h3 class="heading">${_("Course End")}</h3>
                        <%
                        delta = course.end - datetime.now(utc)
                        try:
                            relative_date = format_timedelta(delta)
##                          Babel doesn't have translations for Esperanto, so we get
##                          a KeyError when testing translations with
##                          ?preview-lang=eo. This should not happen with any other
##                          languages. See https://github.com/python-babel/babel/issues/107
                        except KeyError:
                            relative_date = format_timedelta(delta)
                        date_has_passed = delta.days < 0
##                         Translators: 'absolute' is a date such as "Jan 01,
##                         2020". 'relative' is a fuzzy description of the time until
##                         'absolute'. For example, 'absolute' might be "Jan 01, 2020",
##                         and if today were December 5th, 2020, 'relative' would be "1
##                         month".
                        if date_has_passed:
                            data_string = _(relative_date + " ago - {date}")
                        else:
                            data_string = _("in " + relative_date + " - {date}")
                        if datetime.now(utc) <= course.end:
                            mode, is_active = CourseEnrollment.enrollment_mode_for_user(self.user, self.course.id)
                            if is_active and CourseMode.is_eligible_for_certificate(mode):
                                desc_text = _('To earn a certificate, you must complete all requirements before this date.')
                            else:
                                desc_text = _('After this date, course content will be archived.')
                        else:
                            desc_text = _('This course is archived, which means you can review course content but it is no longer active.')
                        %>
                        <h4 class="date localized-datetime" data-format="shortDate" data-datetime="${course.end}" data-string="${data_string}" data-timezone="${user_timezone}" data-language="${user_language}"></h4>
                        <p class="description">${desc_text}</p>
                    </div>
                % endif

                ## Date Today
                <div class="date-summary-container">
                    <div class="date-summary date-summary-todays-date">
                        <%
                            today_date = datetime.now(utc)
                        %>
                        <h3 class="heading localized-datetime" data-datetime="${today_date}" data-string="${_(u'Today is {date}')}" data-timezone="${user_timezone}" data-language="${user_language}"></h3>
                    </div>
                </div>

            ## Verification Deadline
##             class VerificationDeadlineDate(DateSummary):
##     """
##     Displays the date by which the user must complete the verification
##     process.

##     """
            <%
                verification_deadline = VerificationDeadline.deadline_for_course(course.id)
            %>
            % if verification_deadline is not None:
            <div class="date-summary-container">
                % if verification_deadline > datetime.now(utc):
                <div class="date-summary date-summary-verified-upgrade-deadline">
                    FARTFARTFART
                </div>
                % endif
##             % if VerificationDeadline.deadline_for_course(course.id) is not None and VerificationDeadline.deadline_for_course(course.id) <= datetime.now(utc):
##                 FART
##             % endif
            </div>
            % endif


    @property
    def css_class(self):
        base_state = 'verification-deadline'
        if self.deadline_has_passed():
            return base_state + '-passed'
        elif self.must_retry():
            return base_state + '-retry'
        else:
            return base_state + '-upcoming'

    @property
    def link_text(self):
        return self.link_table[self.css_class][0]

    @property
    def link(self):
        return self.link_table[self.css_class][1]

    @property
    def link_table(self):
        """Maps verification state to a tuple of link text and location."""
        return {
            'verification-deadline-passed': (_('Learn More'), ''),
            'verification-deadline-retry': (_('Retry Verification'), reverse('verify_student_reverify')),
            'verification-deadline-upcoming': (
                _('Verify My Identity'),
                reverse('verify_student_verify_now', args=(self.course.id,))
            )
        }

    @property
    def title(self):
        if self.deadline_has_passed():
            return _('Missed Verification Deadline')
        return _('Verification Deadline')

    @property
    def description(self):
        if self.deadline_has_passed():
            return _(
                "Unfortunately you missed this course's deadline for"
                " a successful verification."
            )
        return _(
            "You must successfully complete verification before"
            " this date to qualify for a Verified Certificate."
        )

    @lazy
    def date(self):
        return VerificationDeadline.deadline_for_course(self.course.id)

    @lazy
    def is_enabled(self):
        if self.date is None:
            return False
        (mode, is_active) = CourseEnrollment.enrollment_mode_for_user(self.user, self.course.id)
        if is_active and mode == 'verified':
            return self.verification_status in ('expired', 'none', 'must_reverify')
        return False

    @lazy
    def verification_status(self):
        """Return the verification status for this user."""
        return SoftwareSecurePhotoVerification.user_status(self.user)[0]

    def deadline_has_passed(self):
        """
        Return True if a verification deadline exists, and has already passed.
        """
        deadline = self.date
        return deadline is not None and deadline <= datetime.now(utc)

    def must_retry(self):
        """Return True if the user must re-submit verification, False otherwise."""
        return self.verification_status == 'must_reverify'

            ## Refactor here
        ${HTML(get_course_date_summary(course, user))}

        <h1 class="handouts-header">${_(course.info_sidebar_name)}</h1>
        ${HTML(get_course_info_section(request, masquerade_user, course, 'handouts'))}
##             % endif
        </section>
        % else:
        <section class="updates">
          <h1 class="handouts-header">${_("Course Updates and News")}</h1>
          ${HTML(get_course_info_section(request, masquerade_user, course, 'guest_updates'))}
        </section>
        <section aria-label="${_('Handout Navigation')}" class="handouts">
          <h1 class="handouts-header">${_("Course Handouts")}</h1>
          ${HTML(get_course_info_section(request, masquerade_user, course, 'guest_handouts'))}
        </section>
        % endif
      </div>
  </div>
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>
